﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Canvas.Js</h1>
<style>
    td {
        padding: 20px 40px 40px 0px;
    }

    .wide {
        width: 100%;
    }
</style>

<div class="row">
    <div class="large-12 columns">

        <table class="scroll wide">

            <tr>
                <td><div id="chartContainer"></div></td>
                <td><div id="chartContainer2">Test</div></td>
            </tr>
            <tr>
                <td><div id="chartContainer3">1</div></td>
                <td><div id="chartContainer4">2</div></td>
            </tr>
            <tr>
                <td><div id="chartContainer5">3</div></td>
                <td><div id="chartContainer6">4</div></td>
            </tr>

        </table>

    </div>
</div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


<script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Simple Column Chart in ASP.NET MVC"
            },
            subtitles: [
                { text: "Try Resizing the Browser" }
            ],
            data: [
                {
                    type: "column", //change type to bar, line, area, pie, etc
                    dataPoints:  @Html.Raw(ViewBag.DataPoints)
                }
            ]
        });
        chart.render();



    var chart2 = new CanvasJS.Chart("chartContainer2", {
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,
	zoomEnabled: true,
	title: {
		text: "Try Zooming and Panning"
	},
	data: [{
		type: "line",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});

        chart2.render();

        var chart3 = new CanvasJS.Chart("chartContainer3", {
            theme: "dark1", // "light1", "light2", "dark1", "dark2"
	animationEnabled: true,
	zoomEnabled: true,
	title: {
		text: "Try Zooming and Panning"
	},
	data: [{
		type: "line",
		dataPoints: @Html.Raw(ViewBag.DataPoints)
	}]
});

chart2.render();
    };
</script>