﻿@using WebApplication5.Models
@model Restaurant
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Create</h1>
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <div>
            <label asp-for="Cuisine"></label>
            <select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
        </div>
        <span asp-validation-for="Name"></span>
        <span asp-validation-for="Cuisine"></span>
        <br />
        <input type="submit" name="save" value="Save" />
       
    </form>
</body>
</html>