﻿@model WebApplication5.ViewModels.HomeRestaurantViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    <h1>My Message</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
            <tr>
                <td>Name of restaurant is "@restaurant.ID"</td>
                <td>ID of restaurant is "@restaurant.Name</td>
                <td>
                
                    <a asp-action="Details" asp-route-id="@restaurant.ID">More</a>
                </td>
            </tr>
        }
    </table>
    <a asp-action="Create">Add Restaurant</a>
</body>
</html>