﻿@model WebApplication5.Greeter
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    <h1>
        @Model.GREETING
    </h1>
</body>
</html>